blis==0.7.7; python_version >= "3.6"
catalogue==2.0.7; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
click==8.0.4; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
cycler==0.11.0; python_version >= "3.7"
cymem==2.0.6; python_version >= "3.6"
fonttools==4.33.3; python_version >= "3.7"
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
jinja2==3.1.2; python_version >= "3.7"
kiwisolver==1.4.2; python_version >= "3.7"
langcodes==3.3.0; python_version >= "3.6"
markupsafe==2.1.1; python_version >= "3.7"
matplotlib==3.5.1; python_version >= "3.7"
murmurhash==1.0.7; python_version >= "3.6"
numpy==1.22.3; python_version >= "3.8"
packaging==21.3; python_version >= "3.7"
pandas==1.4.2; python_version >= "3.8"
pathy==0.6.1; python_version >= "3.6"
pillow==9.1.0; python_version >= "3.7"
plotly==5.7.0; python_version >= "3.6"
preshed==3.0.6; python_version >= "3.6"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.6"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2022.1; python_version >= "3.8"
requests==2.27.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
scipy==1.6.1; python_version >= "3.7"
seaborn==0.11.2; python_version >= "3.6"
setuptools-scm==6.4.2; python_version >= "3.7"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
smart-open==5.2.1; python_version >= "3.6" and python_version < "4.0"
spacy-legacy==3.0.9; python_version >= "3.6"
spacy-loggers==1.0.2; python_version >= "3.6"
spacy==3.2.4; python_version >= "3.6"
srsly==2.4.3; python_version >= "3.6"
tenacity==8.0.1; python_version >= "3.6"
thinc==8.0.15; python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7"
tqdm==4.64.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
typer==0.4.1; python_version >= "3.6"
typing-extensions==4.2.0; python_full_version >= "3.6.1" and python_version >= "3.7"
urllib3==1.26.9; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
wasabi==0.9.1; python_version >= "3.6"
wordcloud==1.8.1
